body {
  margin: 10px;
  background-color: thistle;
  font-family: sans-serif;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
button{
  height: 30px;
}
h1 {
  font-size: 15px;
  color: #000000;
  text-align: center;
}
h1:hover{
  cursor: pointer;
  text-decoration: underline;
}
#auth-form{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
button{
  border-radius: 5px;
  text-align: center;
  width: 208px;
  margin: 5px;
  color: rgba(156, 92, 156, 0.9);
  border: solid  rgba(156, 92, 156, 0.596) 2px;
  padding: 2px;
}
button:hover{
  background-color: rgba(156, 92, 156, 0.596);
  border: solid white 2px;
  color: white;
}
.form-row{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  color: rgba(156, 92, 156, 0.9);
  border: solid  rgba(156, 92, 156, 0.596) 2px;
  margin: 5px;
  padding: 2px;
  width: 200px;
  background: white;
}
.form-row input{
  border-radius: 5px;
  padding: 3px;
  border: solid  rgba(156, 92, 156, 0.596) 2px;
}
small{
  color: rgb(85, 50, 85);
}
p#saveForm{
  background: none;
  border: none;
  color: white;
  font-weight: 500;
  font-size: medium;
}

#google-img{
  height: 10px;
  margin-right: 10px;
  width: auto;
  padding: 3px;
  background-color: white;
  border-radius: 50%;
}
#save{
  display:none;
  flex-direction: column;
  align-items: center;
}
